<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh" xml:lang="zh" xmlns="http://www.w3.org/1999/xhtml"
xmlns:og="http://ogp.me/ns#"
 xmlns:mixi="http://mixi-platform.com/ns#"
 xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta name="description" content="角落小夥伴“超人氣手游上線大好評上市♪和可愛的角落小夥伴們一起踏上消除的冒險之旅，尋找最安心的角落♪"/>
<meta property="fb:app_id" content="1021369547882248" />
<meta property="og:locale" content="zh_HANT" />
<meta property="og:title" content="Sumikko gurashi-Puzzling Ways" />
<meta property="og:site_name" content="Sumikko gurashi-Puzzling Ways|遊戲公式站點" />
<meta property="og:image" content="http://sumikko.playfun.me/images/fb600x315.jpg" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://sumikko.playfun.me/api/share/{{icode}}/?lang=zh_hant" />
<meta property="og:description" content="角落小夥伴“超人氣手游上線大好評上市♪和可愛的角落小夥伴們一起踏上消除的冒險之旅，尋找最安心的角落♪" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@gendai_biz"/>
<link rel="mixi-check-image" type="image/jpeg" href="http://sumikko.playfun.me/images/fb600x315.jpg" />

<meta property="al:android:url" content="sumikko://com.wooga.sumikko?icode={{icode}}" />
<meta property="al:android:package" content="com.wooga.sumikko_jp" />
<meta property="al:android:app_name" content="Sumikko gurashi-Puzzling Ways" />
<meta property="al:ios:url" content="sumikko://net.wooga.sumikko?icode={{icode}}" />
<meta property="al:ios:app_store_id" content="1074251093" />
<meta property="al:ios:app_name" content="Sumikko gurashi-Puzzling Ways" />
<meta property="al:web:url" content="http://sumikko.playfun.me/api/share/{{icode}}/?lang=zh_hant" />
<meta name="keywords" content="Sumikko gurashi すみっコ ぐらし 角落小夥伴 角落生物" />

<title>Sumikko gurashi-Puzzling Ways</title>
<script>
var uid = "{{icode}}";
</script>
</head>

<body style="font-size:100%;">

<img src="/images/01.png" width="100%">
<div style="background-color:#ffffff; color:#6a3906;">
<img src="/images/02.png" width="100%" alt="お知らせ↓">
<div style="background-image:url(/images/03.png);background-size:100%">
<div style="margin-left:8%;margin-right:8%;">
<span style="font-size:2vw;">
超萌人氣手游《Sumikko gurashi-Puzzling Ways》大好評上市中！<br/>和可愛的角落小夥伴們一起踏上消除的冒險之旅，尋找最安心的角落♪
</span>

<center>
<img src="/images/05.png" width="95%" alt="スクリーンショット">

<br><br>
<span style="font-size:2vw;">使用邀請碼，獲得豪華禮物！</span>


<div style="position: relative;width:100%">
<script type="text/javascript">

 var browser={
    ua:function(){
            var u = navigator.userAgent;
            return {         //移动终端浏览器版本信息
                trident: u.indexOf('Trident') > -1, //IE内核
                presto: u.indexOf('Presto') > -1, //opera内核
                webKit: u.indexOf('AppleWebKit') > -1, //苹果、谷歌内核
                gecko: u.indexOf('Gecko') > -1 && u.indexOf('KHTML') == -1, //火狐内核
                mobile: !!u.match(/AppleWebKit.*Mobile.*/), //是否为移动终端
                iOS: !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/), //ios终端
                android: u.indexOf('Android') > -1 || u.indexOf('Linux') > -1, //android终端或uc浏览器
                iPhone: u.indexOf('iPhone') > -1 , //是否为iPhone或者QQHD浏览器
                iPad: u.indexOf('iPad') > -1, //是否iPad
                webApp: u.indexOf('Safari') == -1, //是否web应该程序，没有头部与底部
                weChat: u.indexOf('MicroMessenger') > -1
            };
         }()
    }

    var ua = browser.ua;

</script>
<img src="/images/06.png" width="90%" >
<div style="position:absolute;top:3vw;padding-left:0vw;width:30vw;font-size:4.5vw;text-align:right" >
邀請碼:
</div>
<div type="text"  style="position:absolute;top:3vw;padding-left:30vw;width:60vw; height:8vw;font-size:4.5vw;text-align:left" id="copyBtn">
{{icode}}
</div>
</div>
<br>

<a href="https://itunes.apple.com/us/app/sumikko-gurashi-puzzling-ways/id1074251093?ls=1&mt=8"><img src="/images/07.png" width="45%"></a>
<a href="market://details?id=com.wooga.sumikko_jp"><img src="/images/08.png" width="45%"></a>
<br>
<input type="text" id="website" value="{{icode}}" style="position:fixed;top:-2000px" />
<script type="text/javascript">
function enterGame()
{
	if(ua.iOS)
            location.href = "sumikko://net.wooga.sumikko?icode="+uid;
    else
            location.href = "sumikko://com.wooga.sumikko?icode="+uid;
}

(function() {

  'use strict';

  // click events
  // 添加点击事件
  var copyBtn =  document.getElementById("copyBtn");
  copyBtn.addEventListener('click', copy, true);

  // event handler
  // 添加时间处理方法
  function copy(e) {

    // find target element
    // 搜索目标元素
	var tmp =  document.getElementById("website");
    if (tmp && tmp.select) {

      // select text
      // 选择文本
      tmp.select();
      try {
        // copy text
        // 复制文本
		console.log("copy ")
        document.execCommand('copy');
        tmp.blur();
      }
      catch (err) {
        alert('長按複製內容');
      }

    }

  }

})();
</script>
<img src="/images/09.png" width="90%"  onclick="enterGame();"><br>


</center>
</div></div>
<img src="/images/04.png" width="100%" alt="お知らせ↑">

<br><br>

<center>
<a href="http://twitter.com/share?url=http%3A%2F%2Fwww.wooga.jp%2Fsumikko%2F"><img src="/images/10.png" style="width:10%;"></a>

<a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.wooga.jp%2Fsumikko%2F"><img src="/images/11.png" style="width:10%;"></a>

<a href="http://line.naver.jp/R/msg/text/http%3A%2F%2Fwww.wooga.jp%2Fsumikko%2F"><img src="/images/12.png" style="width:10%;"></a>

<br><br>

<table border="1" cellspacing="0" cellpadding="5" bordercolor="#caa571">
<tr><td>類型</td><td>消除遊戲</td></tr>
<tr><td>對應OS</td><td>iOS 8以上  Android 4.1以上</td></tr>
<tr><td>價格</td><td>免費＋道具付費</td></tr>
</table>

<br><br>

<a href="http://www.san-x.co.jp/"><img src="/images/13.png" width="20%" alt="サンエックス"></a><a href="http://www.imagineer.co.jp/"><img src="/images/14.png" width="20%" alt="イマジニア"></a><a href="http://www.pitayagames.com/"><img src="/images/16.png" width="20%" alt="pitayagames"></a>
<br><br>


<a href="mailto:sumikkogurashi_app@imagineer.co.jp?subject=Sumikko%20gurashi-Puzzling%20Ways" style="text-decoration:none;"><span style="color:#96702e; text-decoration:underline; text-decoration-color:#96702e;">聯絡我們</span></a>

<br><br>

<span style="display:inline-block;"><small style="color:#96702e; font-family: "HiraKakuProN-W3", sans-serif;"><b>&copy; 2016 San-X Co., Ltd. All Rights Reserved.</b></small></span> <span style="display:inline-block;"><small style="color:#96702e;"><b>&copy; Imagineer Co.,Ltd.</b></small></span>


</center>
</div>
</body>
</html>
