<table id="apl_table" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>当前配置</th>
    </tr>
  </thead>
  <tbody>
      <tr>
          <td><textarea rows="3" cols="160" id="noticedata">{{noticedata}}</textarea></td>
     </tr>
  </tbody>
</table>
<nav class="navbar navbar-default" role="navigation">
  <ul class="nav navbar-nav nav-justified">
    <li><a href="javascript:save()" class="icon-plus" class="btn" >保存</a></li>
  </ul>
</nav>

<script>
function save() {
    if (confirm('确定将活动通知推送到服务器，该操作不可逆')) {
        var data = $("#noticedata").val();
        $.ajax({
            type: 'POST',
            url: "/activity_notice/save",
            data: {'data':data},
            success: function(ret){alert(ret)}})
    }
}
</script>
