<nav class="navbar navbar-default" role="navigation">
  <ul class="nav navbar-nav nav-justified">
    <li><a href="#" class="icon-plus" class="btn " id="btnAddAct" data-toggle="modal" data-target="#dlgaddact"> 添加</a></li>
  </ul>
</nav>
<table id="act_table" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>活动id</th>
      <th>最低版本</th>
      <th>作用CHANNEL</th>
      <th>附加参数</th>
      <th>开始时间</th>
      <th>结束时间</th>
      <th>是否生效</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
  {% for u in adm_activity %}
      <tr>
          <td>{{u.activity_id}}</td>
          <td>{{u.minver}}</td>
          <td>{{u.channels}}</td>
          <td><div style="width:50px;word-break: break-all;word-wrap:break-word;width:250px;overflow:auto;">{{u.data}}</div></td>
          <td>{{u.start_time}}</td>
          <td>{{u.over_time}}</td>
          <td>{%if u.usable == 0%}未生效{% end%}{%if u.usable == 1%}生效中{% end%}</td>
          <td>
              <button type="button" activity_id="{{u.activity_id}}"
                 minver="{{u.minver}}"
                 channels="{{u.channels}}"
                 data="{{u.data}}"
                 start_time="{{u.start_time}}"
                 over_time="{{u.over_time}}"
                 usable="{{u.usable}}"
                 class="btn acteditbtn text-danger btn-primary"><i class="icon-edit"></i></button>
              &nbsp;&nbsp;&nbsp;
             {% if u.usable == 0 %}
              <button type="button" data-toggle="modal" data-target="#alertConfirmModel"  activity_id="{{u.activity_id}}" act_url="/activity/start" class="btn actstartbtn btn-warning"><i class="icon-play"></i></button>
             {% else %}
              <button type="button" data-toggle="modal" data-target="#alertConfirmModel"  activity_id="{{u.activity_id}}" act_url="/activity/start" class="btn actpausebtn btn-warning"><i class="icon-pause"></i></button>
             {% end %}
              &nbsp;&nbsp;&nbsp;
              <button type="button" data-toggle="modal" data-target="#alertConfirmModel"  activity_id="{{u.activity_id}}" act_url="/activity/del" class="btn actdelbtn btn-warning"><i class="icon-trash"></i></button>
         </td>
     </tr>
  {% end %}
  </tbody>
</table>
<div id="dlgaddact" class="modal fade">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
      <h4 class="modal-title">编辑活动开关</h4>
    </div>
    <div class="modal-body">
        <form id="act_add_form" action="/activity/addcommit" method="post">
           {% module xsrf_form_html() %}
            <input name="addnew" type="hidden" class="form-control" value="-1" />
            <input name="usable" type="hidden" class="form-control" value="0" />
            <div class="input-group">
                <span class="input-group-addon"><i class="icon-tasks"></i> activity_id </span>
                <input name="activity_id" type="number" min=1 max= 1000000 class="form-control" placeholder="活动id" />
            </div>
            <br/>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon-flag"></i> 最低版本号</span>
                <input name="minver" type="text" class="form-control" placeholder="最低版本号" />
            </div>
            <br/>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon-map-marker"></i> 作用CHANNEL</span>
                <input name="channels" type="text" class="form-control" placeholder="作用channel 可用逗号隔开" />
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon-map-marker"></i> 附加参数</span>
                <input name="data" type="text" class="form-control" placeholder="附加参数" />
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon-calendar"></i> 开始时间</span>
                <input name="start_time" type="text" class="form-control form-datetime" placeholder="开始时间" />
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon-calendar"></i> 结束时间</span>
                <input name="over_time" type="text" class="form-control form-datetime" placeholder="结束时间" />
            </div>
        </form>
        <div id="actalert" class="alert alert-danger">全部内容不能为空！</div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      <button type="button" class="btn btn-primary" id="btnAddActCommit">保存</button>
    </div>
  </div>
</div>
</div>
<script>
var activity_ids = [];
{% for u in adm_activity %}
    activity_ids.push('{{u.activity_id}}');
{% end %}

$("#btnAddActCommit").on('click',function(e){
    var $btn = $(this);

    if($('input[name="addnew"]').val() == "-1" && activity_ids.indexOf($('input[name="activity_id"]').val()) != -1 ){
         $('#actalert').text("活动ID已经存在，请修改活动ID!"); 
         return; 
    }
    $('#actalert').text("全部内容不能为空！");
        

    var postData = $("#act_add_form").serializeArray();
    var formURL = $("#act_add_form").attr("action");
    $('#btnAddAct').click();

    $.ajax(
    {
            url : formURL,
            type: "POST",
            data : postData,
            success:function(data, textStatus, jqXHR)
            {
               setTimeout(  "loadModule()", 500);
            },
            error: function(jqXHR, textStatus, errorThrown)
            {
            }
    });
});

$("#tmp_dlg").empty();
$("#dlgaddact").appendTo("#tmp_dlg");
$('button.actdelbtn').click(function(){
    del_confirm_url = $(this).attr('act_url');
    del_confirm_id = $(this).attr('activity_id');
    del_confirm_success = function(data){
       setTimeout("loadModule()", 500);
    }
    del_confirm_start = function(data){
    }
    del_confirm_error = function(data){
    }
    $("#confirm_msg").text("确认删除当前配置吗？");
});

$('button.actstartbtn').click(function(){
    del_confirm_url = $(this).attr('act_url');
    del_confirm_id = $(this).attr('activity_id');
    del_confirm_success = function(data){
       setTimeout("loadModule()", 500);
    }
    del_confirm_start = function(data){
    }
    del_confirm_error = function(data){
    }
    $("#confirm_msg").text("确认启用当前配置吗？");
});

$('button.actpausebtn').click(function(){
    del_confirm_url = $(this).attr('act_url');
    del_confirm_id = $(this).attr('activity_id');
    del_confirm_success = function(data){
       setTimeout("loadModule()", 500);
    }
    del_confirm_start = function(data){
    }
    del_confirm_error = function(data){
    }
    $("#confirm_msg").text("确认暂停当前配置吗？");
});

$('button.acteditbtn').click(function(){
    var $btn = $(this);
    $('#btnAddAct').click();
    $('input[name="addnew"]').val($btn.attr('activity_id'));
    $('input[name="activity_id"]').val($btn.attr('activity_id'));
    $('input[name="minver"]').val($btn.attr('minver'));
    $('input[name="channels"]').val($btn.attr('channels'));
    $('input[name="data"]').val($btn.attr('data'));
    $('input[name="start_time"]').val($btn.attr('start_time'));
    $('input[name="over_time"]').val($btn.attr('over_time'));
    $('input[name="usable"]').val($btn.attr('usable'));
    if($btn.attr('usable') == "1")
        $("#actalert").text("注意当前的配置已经处于生效中,保存后会直接影响线上");
    else
        $("#actalert").text("全部内容不能为空！");
});

$('.form-datetime').datetimepicker(
{
    language:  "zh-CN",
    weekStart: 1,
    todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
    startView: 2,
    forceParse: 0,
    showMeridian: 1,
    format: "yyyy/mm/dd hh:ii"
});
</script>
