<div class="input-group"/
  <span class="input-group-btn">
    <button id="level_search" class="btn btn-default" data-url="/level/list" type="button">刷新</button>
    <button id="level_download" class="btn btn-default" type="button">下载结果</button>
  </span>
</div>
<table id="level_table" class="table datatable table-striped table-bordered">
  <thead>
    <tr>
      <th data-type="number">关卡ID</th>
      <th data-type="number">人数分布</th>
    </tr>
  </thead>
  <tbody>
  {% for u in datas %}
      <tr>
          <td>{{u.get("level")}}</td>
          <td>{{u.get("count")}}</td>
      </tr>
  {% end %}
  </tbody>
</table>

<script>
$('#level_search').click(function(){
    current_module_url = $(this).attr('data-url');
    loadModule();
});

$('#level_download').click(function(){
    data = [];
    var $rows = $("#level_table").find('tr:has(td),tr:has(th)');
    var tmpColDelim = String.fromCharCode(11);
    var tmpRowDelim = String.fromCharCode(0);
    var colDelim = '","';
    var rowDelim = '"\r\n"';
    var csv = '"' + $rows.map(function (i, row) {
            var $row = $(row), $cols = $row.find('td,th');

            return $cols.map(function (j, col) {
                var $col = $(col), text = $col.text();

                return text.replace(/"/g, '""'); // escape double quotes

            }).get().join(tmpColDelim);

        }).get().join(tmpRowDelim)
            .split(tmpRowDelim).join(rowDelim)
            .split(tmpColDelim).join(colDelim) + '"';

    var blob = new Blob([csv], {type: "text/csv;charset=utf-8"});
    saveAs(blob, "level_result.csv");
});

$('table.datatable').datatable({minColWidth:10, sortable: true});
</script>
